USE [master]
GO
/****** Object:  Database [MPKDocuments]    Script Date: 08.05.2026 15:02:14 ******/
CREATE DATABASE [MPKDocuments]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MPKWork', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\MPKWork.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MPKWork_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\MPKWork_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MPKDocuments].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MPKDocuments]
GO
/****** Object:  Table [dbo].[Departments]    Script Date: 08.05.2026 15:02:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departments](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[OneCId] [nvarchar](50) NULL,
	[Name] [nvarchar](255) NOT NULL,
	[ParentDepartmentId] [int] NULL,
	[isActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DigitalSignatures]    Script Date: 08.05.2026 15:02:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DigitalSignatures](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[DocumentId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[SignatureHex] [nvarchar](max) NOT NULL,
	[SignedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DocumentContents]    Script Date: 08.05.2026 15:02:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DocumentContents](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[DocumentId] [int] NOT NULL,
	[DataJson] [nvarchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[DocumentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Documents]    Script Date: 08.05.2026 15:02:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Documents](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[TemplateId] [int] NOT NULL,
	[InitiatorId] [int] NOT NULL,
	[Status] [nvarchar](50) NULL,
	[FinalDocumentHash] [nvarchar](256) NULL,
	[FinalPDFPath] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DocumentSteps]    Script Date: 08.05.2026 15:02:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DocumentSteps](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[DocumentId] [int] NOT NULL,
	[StepOrder] [int] NOT NULL,
	[ApprovalMode] [nvarchar](50) NOT NULL,
	[Status] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DocumentTasks]    Script Date: 08.05.2026 15:02:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DocumentTasks](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[StepId] [int] NOT NULL,
	[DocumentId] [int] NOT NULL,
	[AssignedUserId] [int] NULL,
	[AssignedPositionId] [int] NULL,
	[AssignedDepartmentId] [int] NULL,
	[Status] [nvarchar](50) NULL,
	[ProcessedByUserId] [int] NULL,
	[ProcessedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DocumentTemplates]    Script Date: 08.05.2026 15:02:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DocumentTemplates](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[TemplatePath] [nvarchar](max) NOT NULL,
	[FormSchema] [nvarchar](max) NOT NULL,
	[isActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Positions]    Script Date: 08.05.2026 15:02:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Positions](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[OneCId] [nvarchar](50) NULL,
	[Name] [nvarchar](255) NOT NULL,
	[isActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SignatureProfiles]    Script Date: 08.05.2026 15:02:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SignatureProfiles](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[PublicKey] [nvarchar](max) NOT NULL,
	[EncryptedPrivateKey] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime2](7) NULL,
	[isRevoked] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 08.05.2026 15:02:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[OneCId] [nvarchar](50) NULL,
	[PhoneNumber] [nvarchar](20) NOT NULL,
	[FullName] [nvarchar](255) NOT NULL,
	[PositionId] [int] NULL,
	[DepartmentId] [int] NULL,
	[Status] [bit] NULL,
	[PasswordHash] [nvarchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[PhoneNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WorkflowTemplates]    Script Date: 08.05.2026 15:02:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorkflowTemplates](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[TemplateId] [int] NOT NULL,
	[StepOrder] [int] NOT NULL,
	[TargetUserId] [int] NULL,
	[TargetPositionId] [int] NULL,
	[TargetDepartmentId] [int] NULL,
	[ApprovalMode] [nvarchar](50) NULL,
	[ActionType] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Departments] ADD  DEFAULT ((1)) FOR [isActive]
GO
ALTER TABLE [dbo].[DigitalSignatures] ADD  DEFAULT (sysutcdatetime()) FOR [SignedAt]
GO
ALTER TABLE [dbo].[Documents] ADD  DEFAULT ('DRAFT') FOR [Status]
GO
ALTER TABLE [dbo].[Documents] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[DocumentSteps] ADD  DEFAULT ('PENDING') FOR [Status]
GO
ALTER TABLE [dbo].[DocumentTasks] ADD  DEFAULT ('PENDING') FOR [Status]
GO
ALTER TABLE [dbo].[DocumentTemplates] ADD  DEFAULT ((1)) FOR [isActive]
GO
ALTER TABLE [dbo].[Positions] ADD  DEFAULT ((1)) FOR [isActive]
GO
ALTER TABLE [dbo].[SignatureProfiles] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[SignatureProfiles] ADD  DEFAULT ((0)) FOR [isRevoked]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[WorkflowTemplates] ADD  DEFAULT ('ANY') FOR [ApprovalMode]
GO
ALTER TABLE [dbo].[WorkflowTemplates] ADD  DEFAULT ('SIGN') FOR [ActionType]
GO
ALTER TABLE [dbo].[Departments]  WITH CHECK ADD FOREIGN KEY([ParentDepartmentId])
REFERENCES [dbo].[Departments] ([id])
GO
ALTER TABLE [dbo].[DigitalSignatures]  WITH CHECK ADD FOREIGN KEY([DocumentId])
REFERENCES [dbo].[Documents] ([id])
GO
ALTER TABLE [dbo].[DigitalSignatures]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[DocumentContents]  WITH CHECK ADD FOREIGN KEY([DocumentId])
REFERENCES [dbo].[Documents] ([id])
GO
ALTER TABLE [dbo].[Documents]  WITH CHECK ADD FOREIGN KEY([InitiatorId])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[Documents]  WITH CHECK ADD FOREIGN KEY([TemplateId])
REFERENCES [dbo].[DocumentTemplates] ([id])
GO
ALTER TABLE [dbo].[DocumentSteps]  WITH CHECK ADD FOREIGN KEY([DocumentId])
REFERENCES [dbo].[Documents] ([id])
GO
ALTER TABLE [dbo].[DocumentTasks]  WITH CHECK ADD FOREIGN KEY([AssignedUserId])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[DocumentTasks]  WITH CHECK ADD FOREIGN KEY([AssignedPositionId])
REFERENCES [dbo].[Positions] ([id])
GO
ALTER TABLE [dbo].[DocumentTasks]  WITH CHECK ADD FOREIGN KEY([AssignedDepartmentId])
REFERENCES [dbo].[Departments] ([id])
GO
ALTER TABLE [dbo].[DocumentTasks]  WITH CHECK ADD FOREIGN KEY([DocumentId])
REFERENCES [dbo].[Documents] ([id])
GO
ALTER TABLE [dbo].[DocumentTasks]  WITH CHECK ADD FOREIGN KEY([ProcessedByUserId])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[DocumentTasks]  WITH CHECK ADD FOREIGN KEY([StepId])
REFERENCES [dbo].[DocumentSteps] ([id])
GO
ALTER TABLE [dbo].[SignatureProfiles]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD FOREIGN KEY([DepartmentId])
REFERENCES [dbo].[Departments] ([id])
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD FOREIGN KEY([PositionId])
REFERENCES [dbo].[Positions] ([id])
GO
ALTER TABLE [dbo].[WorkflowTemplates]  WITH CHECK ADD FOREIGN KEY([TargetUserId])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[WorkflowTemplates]  WITH CHECK ADD FOREIGN KEY([TargetPositionId])
REFERENCES [dbo].[Positions] ([id])
GO
ALTER TABLE [dbo].[WorkflowTemplates]  WITH CHECK ADD FOREIGN KEY([TargetDepartmentId])
REFERENCES [dbo].[Departments] ([id])
GO
ALTER TABLE [dbo].[WorkflowTemplates]  WITH CHECK ADD FOREIGN KEY([TemplateId])
REFERENCES [dbo].[DocumentTemplates] ([id])
GO
ALTER TABLE [dbo].[DocumentContents]  WITH CHECK ADD  CONSTRAINT [CHK_DataJson_JSON] CHECK  ((isjson([DataJson])=(1)))
GO
ALTER TABLE [dbo].[DocumentContents] CHECK CONSTRAINT [CHK_DataJson_JSON]
GO
ALTER TABLE [dbo].[DocumentTemplates]  WITH CHECK ADD  CONSTRAINT [CHK_FormSchema_JSON] CHECK  ((isjson([FormSchema])=(1)))
GO
ALTER TABLE [dbo].[DocumentTemplates] CHECK CONSTRAINT [CHK_FormSchema_JSON]
GO
ALTER TABLE [dbo].[WorkflowTemplates]  WITH CHECK ADD  CONSTRAINT [CHK_WorkflowTarget] CHECK  (([TargetUserId] IS NOT NULL OR [TargetPositionId] IS NOT NULL OR [TargetDepartmentId] IS NOT NULL))
GO
ALTER TABLE [dbo].[WorkflowTemplates] CHECK CONSTRAINT [CHK_WorkflowTarget]
GO
USE [master]
GO
